/*------------------
    RESET
------------------*/
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*------------------
    TYPO
------------------*/
body {
    font-family: 'Roboto', sans-serif;
    -webkit-overflow-scrolling: touch;
    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.54;  
    -webkit-font-smoothing: antialiased;
}
/*------------------
    COMMONS
------------------*/
img {
    width: 6.25rem;
}
h1 {
    display: inline-block;
    color: rgb(130, 130, 130);
    font-weight: 400;
    margin: 0;
}
h2 {
    color: #3c4043;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    padding: 64px 0 0 0;
}
p {
    margin-top: 0;
    margin: 10px 0;
    line-height: 24px;
    padding-top: 20px;
}
a {
    text-decoration: none;
}
a:hover, a:visited {
    color: #3367d6;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    line-height: 24px;
    padding-left: 16px;
    padding-top: 20px;
    display: list-item;
    text-align: match-parent;
}
.smANld {
    padding-top: 12px;
}
ol>li>ol {
    list-style: lower-alpha;
}
ul, ol {
    margin: 0 0 0 16px;
    padding: 0;
}
h3 {
    color: #3c4043;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    padding: 52px 0 0 0;
}
/*------------------
    CONTAINER
------------------*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    padding: .625rem .625rem;
}
.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .625rem;
}
.logo_and_title, .user_and_settings {
    display: flex;
    align-items: center;
    gap: .375rem;
}
.user_and_settings {
    font-size: 1.875rem;
    gap: .75rem;
}
.user_and_settings i:first-child {
    font-size: 1.25rem;
}
.container {
    max-width: 65rem;
    margin: auto;
    padding: 32px;
}